.w12 {
  width: 12px
}

.w25 {
  width: 25px
}

.w40 {
  width: 40px
}

.w50 {
  width: 50px
}

.w100 {
  width: 100px
}

.w140 {
  width: 140px
}

tr, td, select, input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
}

.cellProject {
  position: relative;
  cursor: pointer;
  padding-top: 2px;
  margin-bottom: 1px;
  margin-top: 1px;
  text-align: center;
  font-size: 8px;
  padding: 2px;
  border-radius: 2px;
}

.cellHolidays {
  padding-top: 2px;
  margin-bottom: 1px;
  margin-top: 1px;
  text-align: center;
  font-size: 8px;
  padding: 2px;
  border-radius: 2px;
}

.planningContent {
  border-width: 1px;
  border-style: solid;
  padding: 1px;
}

.planningContent th {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  text-align: center;
}
