@page {size: landscape}

.noprint {
	display: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

tr, td, select, input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

.we {
	background-color: #fafae0;
	font-weight: bold;
}

.semaine {
	background-color: #ffffff;
	width: 25px;
	height: 46px;
}

.cellProject {
	position: relative;
	cursor: pointer;
	padding-top: 2px;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 8px;
	width: 25px;
	height: 12px;
}

.cellHolidays {
	padding-top: 2px;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 8px;
	width: 25px;
	height: 12px;
	background: #808080;
	color: #ffffff;
}

a:link {
	color: #039;
}

a:visited {
	color: #609;
}

a:hover {
	color: #333;
}

a:active {
	color: #000;
}

img {
	border: 0;
	padding-top: 2px;
}
  a[href]:after { content: none !important; }
  img[src]:after { content: none !important; }
.planningContent {
	background-color: #ebeff2;
	border-color: #3DA9C9;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
}


.codesProjets {
	padding-top: 3px;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
	height: 25px;
}

.tableauProjets {
	background-color: #3DA9C9;
	border-color: #254ea4;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
}

.tableauProjets td {
	background-color: #ffffff;
}
